header{
    background: linear-gradient(to bottom,white, rgba(0,0,255,0.5)),
    url(../image/download.jpg) no-repeat center top; 
    background-size: cover;
    height: 400px;
    text-align: center; 
    /* background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)); */
}
header h1{
    color: black;
    line-height: 300px; 
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase; 
    text-align: center;
    /* background-color: slategrey; */
}
body{
    background-color: white;
}